/*Unsiversal sytling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Oswald, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr) ;
  gap: 50px;
}

:root {
  --mainColor: ;
  --SecondaryColor: ;
  --thirdColor: ;
  --fourthColor: ;
  --fifthColor: ;
  --textColor: #141414 ;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}




/*header*/

header {
  display: grid;
  grid-template-columns: 5% 20% 35% 40% ;
  grid-template-rows: auto;
  background: url(/resources/img/platter.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 3em;
  grid-area: 2/2/4/4;
}

 header nav {
  grid-area: 2/4/4/span 2;
}

header nav ul {
  padding: 10px;
}

header ul li {
  display: inline-block;
  font-size: 1.2rem;
  width: 130px;
}

header li a {
  color: white;
}

header li a:hover {
  font-size: 1.15rem; 
  color: var(--textColor);
  transition: .15s ease-out;
}

header h2 {
  grid-area: 3/3/5/span 1;
  font-size: 5.5rem;
}

header p {
  grid-area: 4/3/5/span 2;
  font-size: 1.4rem;
  margin: 20px;
  color: rgb(233, 233, 233);
}


.reservier-knopf {
  grid-area: 5/3/span 1/span 1;
  text-align: center;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.997);
  font-size: 1.2rem;
  padding-top: 12px;
  height: 70px;
  color: rgb(63, 63, 63);
  box-shadow: inset 1px 1px 10px ;
  width: 200px;
  margin: 50px;
}

.reservier-knopf:hover {
  background-color: black;
  transition: .15s ease-out;
  color: white;
  box-shadow: none;
}




/*Gerichte*/
.gerichte {
  display: grid;
  grid-template-rows: 5% 20% 50% 5%;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
  
}

.gerichte h3 {
  font-size: 3.5rem;
  grid-area: 2/2/span 1/ span 2;
  color: var(--textColor);
}

.gerichte figure {
  margin: 20px;
  text-align: center;
  border-radius: 2%;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.6rem;
}
.gerichte figure:hover {
  box-shadow: none;
  border: 3px solid black;
  transition: .25s ease-out;
  font-size: 1.8rem;
}

.gerichte-text-1 {
  grid-area: 5/2/span 2/span 1;
  padding: 20px;
  font-size: 1rem;
}
.gerichte-text-2 {
  grid-area: 5/3/span 2/span 1;
  padding: 20px;
  font-size: 1rem;
}
.gerichte-text-3 {
  grid-area: 5/4/span 2/span 1;
  padding: 20px;
  font-size: 1rem;
}

.gerichte figcaption {
  font-size: 1.2rem;
  height: 60px;
  background-color: black;
  padding: 10px;
  color: white;
  margin: auto 0px;
}


.gerichte-text {
  color: rgb(137, 137, 137);
}


.gericht1 {
  grid-area: 3/2/span 2/span 1;
  background: url(/resources/img/restaurant.jpg);
  background-size: cover ;
}

.gericht2 {
  grid-area: 3/3/span 2/span 1;
  background: url(/resources/img/food.jpg);
  background-size: cover ;
}

.gericht3 {
  grid-area: 3/4/span 2/span 1;
  background: url(/resources/img/tofu.jpg);
  background-size: cover ;
}


/*Öffnungszeiten*/

.öffnungszeiten {
  margin: 80px;
  background: linear-gradient(to top, rgb(234, 234, 234) 0%, white 130%);
  border-radius: 2%;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.477) ;
  border: 2px solid rgb(182, 182, 182);
  padding-bottom: 50px;
}

.öffnungszeiten img {
  grid-area: 2/2/span 1/ span 1;
  width: 700px;
  border-radius: 8%;
}

.öffnungszeiten figure {
  grid-area: 2/5/span 1/ span 1;
  width: 100%;
  text-align: center;
  
}

.öffnungszeiten figure figcaption {
  font-size: 3rem;
  font-weight: bold;
  margin: 50px;
  color: var(--textColor);
  width: auto;
}

.öffnungszeiten figure table {
  width: 200px;
  margin: 0px auto;
  font-size: 1.2rem;
}

.öffnungszeiten table td {
  padding: 15px;
}

.öffnungszeiten table th {
  text-decoration: underline;
}





/*Köche*/



.köche {
  text-align: center;
  margin: 0px 12%;
  font-size: 2rem;
  border-bottom: 2px solid grey;
  color: var(--textColor);
}

.heller-text {
  color: rgb(141, 141, 141);
  font-size: 1.5rem;
  padding: 20px;
}

.köche p {
  font-size: 1.3rem;
  margin: 50px;
}

.köche p a {
  color: rgb(20, 96, 13);
}

.köche p a:hover {
  color: var(--textColor);
  font-size: 1.2rem;
  transition: .15s ease-out;
  text-decoration: none;
}


/*über uns*/ 


.über-uns figure {
  display: grid;
  grid-template-columns: 5% 30% 20% 30% 5%;
  grid-template-rows: auto;
  margin: 30px;
  padding: 30px;
  grid-auto-flow:dense;
}

.über-uns figure figcaption {
  font-size: 1.5rem;
  font-weight: bold;
  color: #141414;
}

.über-uns figure p {
  font-size: 1.3rem;
  color: rgb(162, 162, 162);
  padding: 80px;
  text-align: center;
}

.über-uns figure img {
  height: 20vh;
  border-radius: 2px;
  box-shadow: 1px 1px 8px black;
}

.über-uns-fig1 img {
  grid-area: 1/2/4/3 ;
}

.über-uns-fig1 figcaption {
  grid-area: 1/4/3/6 ;
}

.über-uns-fig1 p {
  grid-area: 3/4/3/6 ;
}

.über-uns-fig2 img{
  grid-area: 1/4/3/5;
  grid-auto-flow:dense;
}

.über-uns-fig2 figcaption {
  grid-area: 1/2/3/4;
}

.über-uns-fig2 p {
  grid-area: 2/2/span 1/4;

}



/*Reservieren*/

.reservieren {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 1fr 1fr 1fr;
}



.reservieren h3 {
  font-size: 4rem;
  grid-area: 1/1/3/3;
  margin: 30px;
}

.reservieren form {
  grid-area: 2/2/4/3;
  display: flex;
  flex-direction: column;
}

.reservieren table {
  grid-area: 2/1/3/2;
}

.reservieren form input {
  width: 70%;
  padding: 20px;
  margin: 20px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.1rem;
}


/*Footer*/


footer {
  background-color: var(--textColor);
  color: white;
  display: grid; 
  grid-template-columns: 5% 30% 20% 40% 5% ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

footer h4 {
  grid-area: 2/2/4/4;
  font-size: 4rem;
}

footer p {
  grid-area: 3/2/4/4;
  font-size: 0.7rem;
  color: grey;
  margin: 20px;
}

footer nav {
  grid-area: 1/4/5/6;
  display: inline-flex;
  margin: 50px;
}

footer nav ul li {
  margin: 40px;
  font-size: 1.2rem;
}

footer nav ul a {
  color: white;
}

footer nav ul a:hover {
  color: grey;
  
}



/*Media query*/


@media only screen and (min-width: 320px) and (max-width: 768px) {

  .über-uns-fig2 img{
    display: none;
  }


  .über-uns figure p {
    display: none;
  }

  .über-uns-fig1 figcaption {
    display: none;
  }

  header ul {
    background-color: rgb(0, 0, 0);
  }

  .footer-liste-2  {
    display: none;
  }

  .öffnungszeiten figure figcaption {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 3rem;
  }

  footer nav ul li {
    font-size: 0.8rem;
  }

  footer h4 {
    font-size: 2rem;
  }
  

  header p {
    display: none;
  }

  .gerichte p {
    font-size: 0.8rem;
  }

  .gerichte figcaption {
    font-size: 0.9rem;
  }

  .reservier-knopf {

  grid-area: 5/3/span 1/span 1;
  }  

  footer nav {
    margin: 0px;
  }

  .reservieren h3 {
    padding-bottom: 300px;
  }

  .reservieren form input::placeholder {
    font-size: 0.8rem;
  }


}
